<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=" UTF-8 " />
    <meta name="viewport " content="width=device-width, initial-scale=1.0 " />
    <title>url shortner</title>
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <style>
      .main {
        background-color: rgb(98, 95, 95);
        padding: 30px;
        border-radius: 20px;
        color: white;
      }
      footer {
        margin-top: 30px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <%- body %>
    </div>
    <footer>
      <p>Made with ❤ @Sagar Karki</p>
      <p></p>
    </footer>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
